<section class="contacts-container">
    <app-contact-search class="flex justify-center"></app-contact-search>
    <h1>Contact List</h1>
    <div class="add-contact flex align-center " >
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input #elHeroName matInput placeholder="Add new contact" value="">
            </mat-form-field>
        </form>   
            <button mat-raised-button class="btn" (click)="add(elHeroName.value); elHeroName.value=''">add</button>
    </div>

    <div *ngFor="let contact of contacts">
        <mat-card class="prev-container">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{contact.name}}</mat-card-title>
                <mat-card-subtitle>{{contact.email}}</mat-card-subtitle>
            </mat-card-header>
            <div>
                <button class="btn" mat-raised-button color="basic" routerLink="/contact/{{contact.id}}">Details</button>
                <button class="btn" mat-raised-button color="basic" (click)="delete(contact)">Delete</button>
                <button class="btn" mat-raised-button color="basic" (click)="move(contact)">Move</button> 
            </div>
            <div *ngIf="isShowInput" class="add-contact flex align-center " >
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <input #elAmount matInput placeholder="Add amount">
                    </mat-form-field>
                </form>   
                    <button mat-raised-button class="btn" (click)="addAmount(elAmount.value,contact); elAmount.value=''">Move</button>
            </div>  
        </mat-card>
    </div>
</section>