@import '@angular/material/prebuilt-themes/indigo-pink.css';


// $primary: rgb(111, 0, 255);
$primary: rgb(29, 175, 172);
 html{
     height: 100%;
 }

body {
    height: 100%;
    margin: 0;
    font-family:  Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgb(228, 228, 228);
}
.nav-bar-container{
    height: 100%;

}
app-container{
    width: 100%;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.details-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 4rem;
}

header {
    background: $primary;
    padding: 1em 0;

    a {
        color: white;
        text-decoration: none;
    }
    a.logo {
        font-weight: bold;
    }

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;

                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }
    }
}

h1,h2 {
    margin: 0;
}

// flex helpers

.flex{
    display: flex;
}

.col{
    flex-direction: column; 
}

.justify-center{
    justify-content: center;
    
}

.justify-between{
    justify-content: space-between; 
}



.align-center{
    align-items: center; 
}



.align-start{
    align-items: start;
}

