@import '@angular/material/prebuilt-themes/indigo-pink.css';


$primary: rgb(111, 0, 255);

body {
    margin: 0;
    font-family:  Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgb(228, 228, 228);
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: $primary;
    padding: 1em 0;

    a {
        color: white;
        text-decoration: none;
    }
    a.logo {
        font-weight: bold;
    }

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;

                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }
    }
}

h1 {
    margin-top: 2em;
}